<section>
    <mat-card *ngFor=" let post of posts$ | async">
        <mat-card-content routerLink="{{post.id}}">
            <img [src]="post.image" alt="{{post.title}}">
            <h2>{{post.title}}</h2>
            <p>{{post.content}}</p>
                <p><small>Posted By {{post.author}} &bull; on {{timeStamp(post.published) | date: "dd-mm-yyyy"}}</small></p>
        </mat-card-content>
        
        <!-- <mat-card-actions  *ngIf="auth.currentUserId === post.author.id">
            <button mat-icon-button (click)="deletePost(post.id)">
                <mat-icon>Delete</mat-icon>
            </button>
        </mat-card-actions> -->
    </mat-card>
</section>
